{% extends "home/base.html" %}

{% block home %}
{% load staticfiles %}
<img src="{% static 'img/headers/home.png' %}" class="img-fluid" alt="Responsive image">
<div class="container">
  <div class="logo-home">
    <img src="{% static 'img/logo.png'%}" class="img-fluid" alt="">
  </div>
  <div class="welcome-home-h1">
    <h1>Welcome</h1>
    <p>Howdy! Welcome back Friend. Nice day to farm a few maps, isn't it? Do you want to talk with us? Go visit our Discord If you want to help Enjuu with Designs, HTML & CSS? Come and talk to us :3 We currently not support Donations but if you Nevertheless want to Donate us go on Discord and add <b>Justen#3200</b> Enjuu is watching you</p>
  </div>
</div>
{% endblock %}
